<h1>Test App!</h1>


<ul cdkMenuBar>
  <li cdkMenuItem [cdkMenuTriggerFor]="panel">Pizza</li>
  <li cdkMenuItem [cdkMenuTriggerFor]="panel2">French Fries</li>
</ul>


<ng-template cdkMenuPanel #panel="cdkMenuPanel">
  <ul cdkMenu>
    <li cdkMenuItem [cdkMenuTriggerFor]="panel">Pizza</li>
    <li cdkMenuItem>French Fries</li>
  </ul>
</ng-template>


<ng-template cdkMenuPanel #panel2="cdkMenuPanel">
  <ul cdkMenu>
    <li cdkMenuItem>Cheese</li>
    <li cdkMenuItem>Pepper</li>
    <li cdkMenuItem>Onion</li>
  </ul>
</ng-template>


<div style="height: 100px; width: 100px; border: 1px solid black"
     [cdkContextMenuTriggerFor]="panel"></div>
